.edit {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: linear-gradient(145deg, #d4d4d9, #fdfdff);
  box-shadow: 3px 3px 6px #cdcdd2, -3px -3px 6px #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: linear-gradient(145deg, #d4d4d9, #fdfdff);
  box-shadow: 3px 3px 6px #cdcdd2, -3px -3px 6px #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create {
  width: 300px;
  height: 80px;
  margin: 0 auto;
  filter: drop-shadow(-4px -4px 5px #ffffff)
    drop-shadow(3px 3px 5px rgba(36, 65, 93, 0.302));
  background: linear-gradient(309.34deg, #f2f3f6 -13.68%, #e5e6ec 171.92%);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}
.login {
  width: 300px;
  height: 80px;
  margin: 0 auto;
  filter: drop-shadow(-4px -4px 5px #ffffff)
    drop-shadow(3px 3px 5px rgba(36, 65, 93, 0.302));
  background: linear-gradient(309.34deg, #f2f3f6 -13.68%, #e5e6ec 171.92%);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}
.register {
  width: 300px;
  height: 80px;
  margin: 0 auto;
  filter: drop-shadow(-4px -4px 5px #ffffff)
    drop-shadow(3px 3px 5px rgba(36, 65, 93, 0.302));
  background: linear-gradient(309.34deg, #f2f3f6 -13.68%, #e5e6ec 171.92%);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}
.close {
  width: 122px;
  height: 50px;
  filter: drop-shadow(-4px -4px 2px #ffffff)
    drop-shadow(2px 2px 2px rgba(36, 65, 93, 0.302));
  background: linear-gradient(309.34deg, #f2f3f6 -13.68%, #e5e6ec 171.92%);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm {
  width: 122px;
  height: 50px;
  filter: drop-shadow(-4px -4px 2px #ffffff)
    drop-shadow(2px 2px 2px rgba(36, 65, 93, 0.302));
  background: linear-gradient(309.34deg, #f2f3f6 -13.68%, #e5e6ec 171.92%);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout {
  width: 120px;
  height: 50px;
  filter: drop-shadow(-4px -4px 5px #ffffff)
    drop-shadow(3px 3px 5px rgba(36, 65, 93, 0.302));
  background: linear-gradient(309.34deg, #f2f3f6 -13.68%, #e5e6ec 171.92%);
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
