.edit,
.delete {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.create,
.login,
.register,
.goback {
  width: 300px;
  height: 80px;
  margin: 0 auto;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.confirm,
.close {
  width: 122px;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
