header {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 58px;
  align-items: center;
  padding: 0 168px;
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 0 48px;
  }
}

.dummyBox {
  min-width: 120px;
}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchContainer {
  /* position: absolute; */
  top: 106px;
  right: 84px;
}

.btnContainer {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    margin: 30px 0;
  }
  .switchContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .dummyBox {
    display: none;
  }
  .btnContainer {
    margin-top: 0;
  }
}
