.container {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background: linear-gradient(145deg, #d4d4d9, #fdfdff);
  box-shadow: 9px 9px 18px #cdcdd2, -9px -9px 18px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 106px;
  height: 115px;
}
