:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --light-primary: #ececf1;
}

body {
  background-color: var(--light-primary);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #575f6b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #575f6b;
}

.todolist-container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  height: 500px;
  padding: 30px 24px;
  overflow-y: scroll;
  width: fit-content;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.todolist-container::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.todolist-container::-webkit-scrollbar {
  width: 8px;
}

.todolist-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.todolist-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.521);
}

button {
  cursor: pointer;
}
