:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --light-primary: #ececf1;
}

body {
  background-color: var(--light-primary);
}

input,
button {
  border: none;
  outline: none;
}
