@font-face {
  font-family: "SCDream1";
  src: url("/fonts/SCDream1.otf");
}

@font-face {
  font-family: "SCDream2";
  src: url("/fonts/SCDream2.otf");
}

@font-face {
  font-family: "SCDream3";
  src: url("/fonts/SCDream3.otf");
}

@font-face {
  font-family: "SCDream4";
  src: url("/fonts/SCDream4.otf");
}

@font-face {
  font-family: "SCDream5";
  src: url("/fonts/SCDream5.otf");
}

@font-face {
  font-family: "SCDream6";
  src: url("/fonts/SCDream6.otf");
}

@font-face {
  font-family: "SCDream7";
  src: url("/fonts/SCDream7.otf");
}

@font-face {
  font-family: "SCDream8";
  src: url("/fonts/SCDream8.otf");
}

@font-face {
  font-family: "SCDream9";
  src: url("/fonts/SCDream9.otf");
}

:root {
  font-family: "SCDream4";

  --light-background: #ececf1;
  --dark-background: #36393b;
  --light-text: #767676;
  --dark-text: #c1c1c1;
  --green: #15c714;

  --concave-light-lg: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset -6px -6px 12px rgba(255, 255, 255, 0.94),
    inset 5px 5px 10px rgba(36, 65, 93, 0.25);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--light-background);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.light {
  background-color: var(--light-background);
  color: var(--light-text);
}

.dark {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

textarea.light::placeholder {
  color: var(--light-text);
}

textarea.dark::placeholder {
  color: var(--dark-text);
}

input.light::placeholder {
  color: var(--light-text);
}

input.dark::placeholder {
  color: var(--dark-text);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--light-text);
}

/************LIGHT MODE********************/
/* Logo, AddButton */
.convex-light-lg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 10px rgba(255, 255, 255, 0.94),
    5px 5px 10px rgba(36, 65, 93, 0.18);
}

/* AddButton(mobile) */
.convex-light-md {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25),
    -2px -2px 5px rgba(255, 255, 255, 0.94), 2px 2px 5px rgba(36, 65, 93, 0.18);
}

/* CheckBox, EditButton, DeleteButton*/
.convex-light-sm {
  box-shadow: 0px 2px 2px rgba(60, 60, 60, 0.25),
    -2px -2px 5px rgba(255, 255, 255, 0.94), 2px 2px 5px rgba(36, 65, 93, 0.18);
}

/* TodoListItem box, AddButton(active) */
.concave-light-lg {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset -6px -6px 12px rgba(255, 255, 255, 0.94),
    inset 5px 5px 10px rgba(36, 65, 93, 0.25);
}
/* EditButton(active), DeleteButton(active), AddButton(mobile, active)*/
.concave-light-md {
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px rgba(255, 255, 255, 0.94),
    inset 2px 2px 6px rgba(36, 65, 93, 0.25);
}

/* ProgressBar, CheckBox(active) */
.concave-light-sm {
  box-shadow: inset 0px 2px 2px rgba(60, 60, 60, 0.25),
    inset -2px -2px 4px rgba(255, 255, 255, 0.94),
    inset 2px 2px 6px rgba(36, 65, 93, 0.25);
}

/********************DARK MODE******************/
/* Logo */
.convex-dark-lg {
  box-shadow: -4px -4px 10px rgba(113, 113, 113, 0.7),
    5px 5px 9px rgba(16, 16, 16, 0.61);
}
/* AddButton, AddButton(mobile)  */
.convex-dark-md {
  box-shadow: 5px 5px 8px rgba(16, 16, 16, 0.69),
    -4px -4px 6px rgba(113, 113, 113, 0.71);
}
/* EditButton, DeleteButton */
.convex-dark-sm {
  box-shadow: -2px -2px 4px #717171, 2px 2px 11px #101010;
}
/* CheckBox */
.convex-dark-ex-sm {
  box-shadow: -2px -2px 5px rgba(113, 113, 113, 0.7),
    2px 2px 5px rgba(16, 16, 16, 0.6);
}

.concave-dark-lg {
  box-shadow: inset -5px -5px 10px rgba(113, 113, 113, 0.75),
    inset 5px 5px 10px rgba(16, 16, 16, 0.6);
}
/* EditButton(active), DeleteButton(active), TodoListItem, AddButton(active), AddButton(mobile, active)*/
.concave-dark-md {
  box-shadow: inset -3px -3px 6px rgba(121, 121, 121, 0.8),
    inset 3px 3px 6px rgba(16, 16, 16, 0.9);
}
/* CheckBox(active), ProgressBar*/
.concave-dark-sm {
  box-shadow: inset -2px -2px 2px rgba(113, 113, 113, 0.72),
    inset 2px 2px 3px rgba(16, 16, 16, 0.75);
}

.modal-box-light {
  box-shadow: inset -4px -4px 3px rgba(16, 16, 16, 0.53),
    inset 1px 1px 5px rgba(65, 57, 57, 0.53);
}

.modal-box-dark {
  box-shadow: inset -4px -4px 4px rgba(43, 43, 43, 0.91),
    inset 4px 4px 4px rgba(167, 167, 167, 0.73);
}

button {
  cursor: pointer;
}

input,
label {
  font-family: inherit;
}

#toast-portal {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
}
